<a href="https://colab.research.google.com/github/twinkle-1/Python3/blob/main/Compy%2520Interview%2520Questions/BaggerOutsideTemple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
http://leadtrackstudy.blogspot.com/2019/06/outside-temple-there-are-n-n-0-beggars.html

In [1]:
N = 5
Donations = [[1, 2, 10], [2, 3, 20], [2, 5, 25]]
baggersProfit = [0]*(N+1)
for index in Donations:
  #X Case(Start Case of Window)
  baggersProfit[index[0]-1] = baggersProfit[index[0]-1] + index[2]
  #Y Case(End Case of Window)
  baggersProfit[index[1]] = baggersProfit[index[1]] - index[2]

marginSum = 0
for x in range(N):
  marginSum += baggersProfit[x]
  print(x+1,marginSum)

1 10
2 55
3 45
4 25
5 25